@{
    ViewData["stranka"] = "zebricek";
}

<h1>Žebříček včelařů</h1>
<div id="tlacitka">
    <button class="obtiznost" value="1">Lehká</button>
    <button class="obtiznost" value="2">Normální</button>
    <button class="obtiznost" value="3">Těžká</button>
</div>
<div id="tabulka">
    Načítam data...
</div>
