@{
    ViewData["stranka"] = "zebricek";
}

<h1>Žebříček včelařů</h1>
<button id="zpet" onclick="location.href='/'">&#10006;</button>
<div id="tlacitka">
    <button class="obtiznost" value="1">Lehká</button>
    <button class="obtiznost" value="2">Normální</button>
    <button class="obtiznost" value="3">Těžká</button>
</div>
<div>
    <div id="tabulka">
        <table>
            <thead>
                <tr>
                    <th>Umístění</th>
                    <th>Jméno hráče</th>
                    <th>Rok</th>
                    <th>Měsíc</th>
                    <th>Datum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="5">Načítam data...</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
