:root {
    --barvaCervenehoTlacitka: hsl(0, 100%, 64%);
    --barvaCervenehoTlacitka2: hsl(0, 100%, 54%);
}

#container {
    position: relative;
}

#tlacitka {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 1em;
    transform: translate(-50%);
}

#cerveneTlacitko {
    background-color: var(--barvaCervenehoTlacitka);
    color: white;
    margin-right: 80px;
}

#cerveneTlacitko:hover {
    background-color: var(--barvaCervenehoTlacitka2);
}

.tlacitko a {
    font-size: 12pt;
}

.tlacitko, .tlacitko a {
    width: 130px;
}

#formular {
    width: 70%;
    margin: auto;
    text-align: left;
    font-size: 14pt;
}
.radek {
    display: flex;
    align-items: center;
}

.radek:last-child {
    justify-content: center;
    margin-top: 0.5em;
}

label {
    padding: 0.5em;
    padding-left: 0;
    display: inline-block;
}

input[type=number] {
    width: 100%;
    padding: 0.5em;    
}

input[type=submit] {
    font-size: 11pt;
    cursor: pointer;
    padding: 0.2em;
}

.sloupec1 {
    float: left;
    width: 60%;
}

.sloupec2 {
    float: left;
    width: 40%;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 2.5em;
    text-align: left;
    width: 70%;
}

tr {
    border-bottom: 1px solid black;
}

tr:last-child {
    border: none;
}

td,th {
    padding: 0.3em;
}

td:last-child {
    text-align: right;
}