@{
    ViewData["stranka"] = "prihlaseni";
}

<h1>Přihlášení</h1>
<div id="formular" style="text-align:center">
    <div class="radek">
        <input type="text" name="jmeno" placeholder="Uživatelské jméno">
    </div>
    <div class="radek">
        <input type="password" name="heslo" placeholder="Heslo">
    </div>
    <button id="prihlasit">Přihlásit se</button>
</div>
