@{
    ViewData["stranka"] = "profil";
}

<h1>Vítejte zpět, @ViewData["uzivatel"]!</h1>
<button id="zpet" onclick="location.href='/'">&#10006;</button>
<div id="tlacitko"><button id="odhlasit">Odhlásit se</button></div>
