@{
    ViewData["stranka"] = "registrace";
}

<h1>Registrace</h1>
<button id="zpet" onclick="location.href='/'">&#10006;</button>
<div id="formular">
    <div class="radek">
        <input type="text" name="jmeno" placeholder="Uživatelské jméno">
    </div>
    <div class="radek">
        <input type="password" name="heslo" placeholder="Heslo">
    </div>
    <div class="radek">
        <input type="password" name="hesloZnovu" placeholder="Heslo znovu">
    </div>
    <button id="registrovat">Registrovat se</button>
</div>