@{
    ViewData["css"] = "udalosti.css";
}

<h1>Proběhlé údálosti</h1>
<div id="udalosti">
    <ul>
        <li>Vítejte ve včelím úlu</li>
        <li>
            Dokončené úkoly:
            <ul>
                <li>
                    Obrana úlu
                    <ul>
                        <li>Nepřítel byl zničen.</li>
                        <li>Přišli jste o 100 včel.</li>
                    </ul>
                </li>
                <li>Vytvořit plástev</li>
            </ul>
        </li>
    </ul>
</div>
<div class="tlacitko">
    <a href="/Ul/Plastev">Zpět</a>
</div>

