@model BeehiveTycoon.Models.Hra0
@{
    Layout = "_LayoutPlastev0";
    ViewData["css2"] = "upresneniUkolu.css";

    
}

<div id="container2">
    <h1>Přidat úkol</h1>
    <div id="seznam">
        <button class="ukol" value="1">Sbírání pylu</button>
        <button class="ukol" value="2">Nakladení vajíček</button>
        <button class="ukol" value="3">Vytvoření plástve</button>
        <button class="ukol" value="4">Obrana úlu</button>
        <button class="ukol" value="5">Zazimování úlu</button>
        <button class="ukol" value="6">Vyrojení včelstva</button>
    </div>
</div>
