@{
    ViewData["stranka"] = "ul";

    // html generuje javasript Hra.js
    // v poznamkach uvedeno co a kam umistuje
}

<header>
    <div id="radek">
        <!--informace o ulu-->
        <div>BeehiveTycoon 2</div>
    </div>
</header>
<nav id="ukoly">
    <!--seznam ulu-->
    <!--seznam ukolu-->
    <!--tlacitko dalsi kolo-->
</nav>
<main>
    <div id="container2">
        <h1>Načítám data ...</h1>
        <!--informace o ukolech-->
    </div>
</main>
<nav id="nepratele">
    <!--informace o nepriteli-->
    <div id="zdroje">
        <div>Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div><a href="https://wallpapersafari.com/w/rXaV6Y">wallpapersafari.com</a></div>
    </div>
</nav>
