#hlaska{
    text-align:center;
}

#formular {
    text-align:center;
}

#formular button {
    margin-top: 1em;
}

.radek {
    margin-top: 0.3em;
}

.radek input {
    width:200px;
    padding: 0.2em;
    box-sizing: border-box;
}

#registrovat, #prihlasit {
    cursor: pointer;
    text-decoration: none;
    font-size: 14pt;
    border: none;
    padding: 0.5em;
    font-family: inherit;
    border-radius: 10px;
    background-color: yellowgreen;
    margin: .5em;
}

#registrovat:hover, #prihlasit:hover {
    background-color: lawngreen;
}
