:root {
    --barvaMenuHover: hsl(25, 75%, 30%);
    --barvaTableHover: var(--barvaMenuHover);
}

#container {
    position: relative;
    height: 500px;
}

#ukolyMenu {
    margin: auto;
    font-size: 14pt;
}

#ukolyMenu, .submenu{
    width: 160px;
}

#ukolyMenu p {
    font-weight: bold;
    margin: 0;
}

.submenu a {
    display: flex;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}

.submenu a:hover {
    font-weight: bold;
    color: var(--barvaMenuHover);
}

#ukolyMenu p, .submenu a {
    padding: 0.3em;
}

.submenu {
    display: none;
    position: absolute;
}

#ukolyMenu:hover .submenu {
    display: block;
}

.tlacitko {
    position: absolute;
    left: 50%;
    bottom: 1em;
    transform: translate(-50%);
}

.tlacitko a {
    font-size: 12pt;
}

.tlacitko, .tlacitko a {
    width: 100px;
}

table {
    font-size: 14pt;
    width: calc(100% - 2em);
    border-collapse: collapse;
    margin: 1em;
}

th,td {
    padding: 0.5em;
}

th {
    text-align: left;
}

th a {
    color: inherit;
    text-decoration: none;
}

th a:hover {
    color: var(--barvaTableHover);
}

td {
    text-align: right;
}

tr {
    border-bottom: 1px solid black;
}

tr:last-child {
    border: none;
}