:root {
    --barvaTlacitka: yellowgreen;
    --barvaTlacitka2: lawngreen;
}

button {
    cursor: pointer;
    text-decoration: none;
    font-size: 16pt;
    border: none;
    padding: 0.5em;
    font-family: inherit;
    border-radius: 10px;
    background-color: var(--barvaTlacitka);
    margin: .5em;
}


button:hover {
    background-color: var(--barvaTlacitka2);
}

#tlacitka {
    display: grid;
    width: min-content;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}

#prihlasit {
    margin-right: 20px;
}

#hraci {
    display: flex;
}

#hraci button {
    width: 170px;
}

p {
    width: 90%;
    margin: auto;
    text-align: center;
}
