@{
    ViewData["css"] = "uvod.css";
}

<h1>Obrana včelího úlu</h1>
<p>Cílem hry je vyrojit včelstvo. Lze uskutečnit pouze v&nbsp;dubnu, květnu a červnu. Pro vyrojení je potřeba minimálně 25 000 včel a 50 000 medu.</p>
<div id="tlacitkoHrat" class="tlacitko">
    <a href="/Ul/Plastev0">Hrát</a>
</div>
