@{
    ViewData["stranka"] = "hrat";
}

<h1>Obrana včelího úlu</h1>
<p>Cílem hry je vyrojit včelstvo. Lze uskutečnit pouze v&nbsp;dubnu, květnu a červnu. Pro vyrojení je potřeba minimálně 25 000 včel a 50 000 medu.</p>
<div id="tlacitka">
    <div id="hraci">
        <button id="prihlasit" onclick="location.href='/Uzivatel/Prihlaseni'">Přihlásit se</button>
        <button onclick="location.href='/Uzivatel/Registrace'">Zaregistrovat se</button>
    </div>
    <button onclick="location.href='/Hra/Ul'">Hrát</button>
    <button>Žebříček včelařů</button>
</div>
